@using TerroscapeApp.Service
@model TerroscapeApp.Database.Avatar

@{
    ViewData["Title"] = "Подробности о жертве";
}

<h1>Подробности о жертве</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Имя:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Навык 1:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstSkill)
        </dd>
        <dt class = "col-sm-2">
            Навык 2:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondSkill)
        </dd>
        <dt class = "col-sm-2">
           Версия игры:
        </dt>
        <dd class = "col-sm-10">
            @{
                var t1 = EnumsTranslation.GameNameTranslation.GetValueOrDefault(Model.GameName);
                if (t1 != null)
                    @Html.Raw(t1)
                else
                    @Html.Raw("Неизвестное значение")
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Изменить</a> |
    <a asp-action="Index">Вернуться к списку жертв</a>
</div>
