@using TerroscapeApp.Service
@model IEnumerable<TerroscapeApp.Database.Avatar>

@{
    ViewData["Title"] = "Жертвы";
}

<h1>Жертвы</h1>

<p>
    <a asp-action="Create">Добавить новую жертву</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Имя:
            </th>
            <th>
                Навык 1
            </th>
            <th>
                Навык 2(если есть)
            </th>
            <th>
                Версия игры
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstSkill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondSkill)
            </td>
            <td>
                    @{
                        var t1 = EnumsTranslation.GameNameTranslation.GetValueOrDefault(item.GameName);
                        if (t1 != null) @Html.Raw(t1)
                        else @Html.Raw("Неизвестное значение")
                    }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
