@using TerroscapeApp.Service
@model IEnumerable<TerroscapeApp.Database.Round>

@{
    ViewData["Title"] = "Партии";
}

<h1>Партии</h1>

<p>
    <a asp-action="Create">Добавить новую партию</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Дата
            </th>
            <th>
                Игрок за Убийцу
            </th>
            <th>
                Персонаж Убийцы (уровень)
            </th>
            <th>
                Жертва 1
            </th>
            <th>
                Жертва 2
            </th>
            <th>
                Жертва 3
            </th>
            <th>
                Победитель
            </th>
            <th>
                Способ победы
            </th>
            <th>
                Карта
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @{
                        if (!item.Date.HasValue)
                            @Html.Raw("Не определено")
                        else
                            @Html.DisplayFor(o => item.Date)
                    }
                </td>
                <td>
                    @Html.DisplayFor(t => item.KillerPlayer.Name)
                </td>
                <td>
                    @Html.DisplayFor(t => item.Killer.Name) (@Html.DisplayFor(t => item.KillerLevel))
                </td>
                <td>
                    @Html.DisplayFor(t => item.FirstPlayer.Name) играл за жертву @Html.DisplayFor(t => item.FirstAvatar.Name) - @{
                        var s1 = EnumsTranslation.SurvivorStateTranslation.GetValueOrDefault(item.FirstState);
                        if (s1 != null) @Html.Raw(s1)
                        else @Html.Raw("Неизвестное значение")
                    }
                </td>
                <td>
                    @{
                        var s2 = EnumsTranslation.SurvivorStateTranslation.GetValueOrDefault(item.SecondState);
                        if (item.SecondPlayer == null)
                        {
                            @Html.Raw("Жертва ")
                            @Html.DisplayFor(t => item.SecondAvatar.Name)
                            @Html.Raw(", состояние - ")
                        }
                        else
                        {
                            @Html.DisplayFor(t => item.SecondPlayer.Name)
                            @Html.Raw(" играл за жертву ")
                            @Html.DisplayFor(t => item.SecondAvatar.Name)
                            @Html.Raw(" - ")
                        }

                        if (s2 != null) @Html.Raw(s2)
                        else @Html.Raw("Неизвестное значение")
                    }
                </td>
                <td>
                    @{
                        var s3 = EnumsTranslation.SurvivorStateTranslation.GetValueOrDefault(item.ThirdState);
                        if (item.ThirdPlayer == null)
                        {
                            @Html.Raw("Жертва ")
                            @Html.DisplayFor(t => item.ThirdAvatar.Name)
                            @Html.Raw(", состояние - ")
                        }
                        else
                        {
                            @Html.DisplayFor(t => item.ThirdPlayer.Name)
                            @Html.Raw(" играл за жертву ")
                            @Html.DisplayFor(t => item.ThirdAvatar.Name)
                            @Html.Raw(" - ")
                        }

                        if (s2 != null) @Html.Raw(s2)
                        else @Html.Raw("Неизвестное значение")
                    }
                </td>
                <td>
                    @{
                        if (item.KillerWin) @Html.Raw("Убийца")
                        else @Html.Raw("Жертвы")
                    }
                </td>
                <td>
                    @{
                        var ww = EnumsTranslation.WinWayTranslation.GetValueOrDefault(item.WinWay);
                        if (ww != null) @Html.Raw(ww)
                        else @Html.Raw("Неизвестное значение")
                    }
                </td>
                <td>
                    @Html.DisplayFor(t => item.Map.Name)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
