@model IEnumerable<TerroscapeApp.Database.Round>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KillerBoostNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KillerWin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KillerLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurvivorBoostNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasPlans)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GotKeys)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoneRadio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonePlan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FisrtState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThirdState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HowSurvivorsWin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HowKillerWin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Killer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KillerPlayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Map)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstPlayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondPlayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThirdPlayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstAvatar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondAvatar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThirdAvatar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KillerBoostNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KillerWin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KillerLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurvivorBoostNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasPlans)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GotKeys)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoneRadio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonePlan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FisrtState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThirdState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HowSurvivorsWin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HowKillerWin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Killer.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KillerPlayer.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Map.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstPlayer.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondPlayer.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThirdPlayer.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstAvatar.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondAvatar.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThirdAvatar.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
