@using TerroscapeApp.Service
@model IEnumerable<TerroscapeApp.Database.Survivor>

@{
    ViewData["Title"] = "Выжившие";
}

<h1>Выжившие</h1>

<p>
    <a asp-action="Create">Добавить нового</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Состояние
            </th>
            <th>
                Жертва
            </th>
            <th>
                Игрок
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @{
                        var t1 = EnumsTranslation.SurvivorStateTranslation.GetValueOrDefault(item.State);
                        if (t1 != null)
                            @Html.Raw(t1)
                        else
                            @Html.Raw("Неизвестное значение")
                    }
            </td>
            <td>
                    @Html.DisplayFor(model => item.Avatar.Name)
            </td>
            <td>
                    @if (item.Player != null)
                        @Html.DisplayFor(model => item.Player!.Name)
                    else
                        @Html.Raw("BOT")

            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
        </tr>
}
    </tbody>
</table>
